body {
  margin: 100px 200px 200px 10px;
  overflow: hidden;
  background-color: #cddafd;
}

.score {
  font-weight: 700;
  color: #343a40;
}

.game-over--hide {
  display: none;
}

.game-over {
  font-size: 20px;
  margin: auto;
  transform: translate(10%, 100%);
}

.replay {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  margin-top: 10px;
}
